@import url("https://fonts.googleapis.com/css?family=Heebo:800,900|Kulim+Park:600,700&display=swap");

// SECTION Font
$norm-font: "Kulim Park", sans-serif;
$bold-font: "Heebo", sans-serif;
// !SECTION Font

// SECTION Colours
$white: #f6f6f6;
$oxford-blue: #334252;

// ---------- SECTION Home Page
$elephant: #143D59;
$buttercup: #f4b41a;
// ---------- !SECTION Home Page

$btn-l1-bg-col: $white;
// !SECTION Colours

// SECTION Measurements
$spacing-lg: 45px;
$spacing-md: 15px;
$spacing: 10px;
$spacing-sm: 7.5px;
$spacing-xs: 5px;

$border-width: 2px;

// !SECTION Measurements
