// SECTION Colours
$white: #f6f6f6;
$oxford-blue: #334252;
$elephant: #143D59;

// SECTION Home Page
$buttercup: #f4b41a;
// !SECTION Home Page
// !SECTION Colours

// SECTION Measurements
$spacing-lg: 45px;
$spacing-md: 15px;
$spacing: 10px;
$spacing-sm: 7.5px;
$spacing-xs: 5px;

$border-width: 2px;

// !SECTION Measurements
