.hi-five {
    color: #00539C;
    transform: rotate(0deg);
}

.hi-five:hover {
    cursor: grab;
    background-image: url(https://leechuyem.github.io/test/assets/rainbow.jpg);
    background-clip: text;
    color: transparent !important;
    background-size: 100px 63px;
    animation: move 25s infinite linear forwards,
    rotate 1.5s infinite linear forwards;
}