<!-- SECTION Box -->
<div class="row justify-content-center pr">
  <div class="col-lg-6 col-md-9 align-self-center pt-lg">
    <div
      class="box norm-font all-pad-md"
      style="--bor-col: #f4b41a; --sh-col: #f4b41a;"
    >
      <div class="norm-font lg-txt" style="--primary-colour: #00539C; --secondary-colour: #FF9552;" >
        <div>

          Howdy!
          <i class="fas fa-hand-paper hi-five" aria-hidden="true"></i>
          My name is Lee Chu Yem, a Melbourne based software developer and
          consultant.

        </div>
        <br />

        <div>
          For the past 2 years, I've been working on really fun and interesting
          projects, most of which can be found under the
          <a class="link" routerLink="/projects">"Projects"</a> page.
        </div>

        <br />

        <h5 class="bold-font" style="margin: 0;">
          For more details about me:
        </h5>
        <div>
          <a
            class="link"
            href="../../../assets/Lee_Chu_Yem_Resume.pdf"
            download
            >A copy of my resume (PDF)</a
          >
        </div>
        <br />
        <div>
          A detail that I didn't include in my resume was one of my non-tech
          jobs in which I dressed up as a Pikachu at a shopping centre.
        </div>
        <br />

        <h5 class="bold-font" style="margin: 0;">Get in touch:</h5>
        <div>
          <a class="link" href="mailto:leechuyem@gmail.com"
            >leechuyem@gmail.com</a
          >
        </div>
      </div>

      <!-- <div class="all-pad-md"></div> -->

      <div class="layer-one yellow-bg"></div>
    </div>
  </div>
</div>
<!-- !SECTION Box -->
