.hi-five {
    color: #00539C;
}

.hi-five:hover {
    cursor: grab;
    transform: rotate(15deg);
    background: url(../../../assets/img/rainbow.jpg);
    background-clip: text;
    color: transparent;
    background-size: 100px 63px;
    animation: move 100s infinite linear forwards;
}

@keyframes move {
    100% {
        background-position: 5000px 0;
    }
}