<!-- nav  -->
<app-nav-bar
  [primaryColour]="style.primaryColour"
  [secondaryColour]="style.secondaryColour"

  *ngIf="style.text != 'LEE CHU YEM'"
></app-nav-bar>

<div class="container">
  <div class="row justify-content-center" style="height: 100vh;">
    <div class="col-12 pt-lg align-self-center" align="center">
      <app-heading
        [text]="style.text"
        [primaryColour]="style.primaryColour"
        [secondaryColour]="style.secondaryColour"
        [pad]="style.text != 'LEE CHU YEM' ? 'pad' : 'somethign'"

      ></app-heading>
    </div>
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
    <div class="col-12 pt-lg">
      <app-social-media-links
        [primaryColour]="style.primaryColour"
        [secondaryColour]="style.secondaryColour"
      ></app-social-media-links>
    </div>
  </div>
</div>