<!-- nav  -->

<div class="container">
  <div class="row justify-content-center" style="height: 100vh;">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>

    <!-- social media  -->
    <!-- <app-button></app-button>
    <app-button></app-button>
    <app-button></app-button> -->

    <div class="col-12">
      <app-button
        columnClass="col"
        buttonClass="icon-button"
        innerHtml='<i class="icon fa fa-envelope""></i>'
      ></app-button>
    </div>

    <p>seomghin</p>
  </div>
</div>
