<div class="container-fluid nav">
  <div class="row w-100">
    <div class="col-2 pt-lg" align="center">
      <a routerLink="/home">
        <app-button
          innerHtml="<i class='fas fa-home'></i>"
          buttonClass="button inline"
          l1BgCol="#E9E9E9"
          l1BorCol="{{ primaryColour }}"
          l1TxtCol="{{ primaryColour }}"
          l2BgCol="{{ primaryColour }}"
          l2TxtCol="{{ secondaryColour }}"
          l3BgCol="{{ secondaryColour }}"
          l3BorCol="{{ secondaryColour }}"
          spacing="5px"
        ></app-button>
      </a>
    </div>
  </div>
</div>
