@import "../../../styles/variables.scss";

.button {
  position: relative;
}

.button:hover {
  cursor: pointer;
}

.first-layer,
.second-layer {
  font-family: $bold-font;
  font-weight: 800;
  font-size: large;
}

.second-layer,
.third-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-layer {
  padding: $spacing-sm;
  background-color: var(--bg-col);
  border: $border-width solid var(--border-col);

  :hover > & {
    visibility: hidden;
  }
}

.second-layer {
  top: $spacing-sm;
  left: $spacing-sm;
  z-index: -1;

  a {
    text-decoration: none;
    color: var(--txt-col);
  }
}

.third-layer {
  top: $spacing-sm * 1.8;
  left: $spacing-sm * 1.8;
  border: $border-width solid var(--border-col);
  z-index: -2;

  :hover > & {
    background-color: var(--bg-col);
    border: 0px;
  }
}
