<div class="row justify-content-center pr-3">
  <div [ngClass]="columnClass">
    <div [ngClass]="buttonClass">
      <div
        class="first-layer text-center lg-txt {{test}}"
        style="--bg-col: #f6f6f6; --border-col: #334252;"
        [innerHtml]="innerHtml"
      >
        {{text}}
      </div>
      <div
        class="second-layer text-center elephant-bg"
        style="--txt-col: #f4b41a;"
        [innerHtml]='innerHtml'
      >
        <a href="#">{{text}}</a>
      </div>
      <div
        class="third-layer"
        style="--bg-col:#f4b41a; --border-col: #f4b41a;"
      ></div>
    </div>
  </div>
</div>
