.txt-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#masked {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  top: 6.5px;
  margin-left: 10px;
  margin-right: 10px;
  mask-image: url(../../../assets/sunglasses.svg);
  background-color: var(--col);
  transform: rotate(0deg);
}

#masked:hover {
  cursor: grab;
  background-image: url(../../../assets/rainbow.jpg);
  background-size: 100px 94px;
  animation: move 25s infinite linear forwards,
    rotate 1.5s infinite linear forwards;
}
