<!-- SECTION Box -->
<div class="row justify-content-center pr">
  <div class="col-lg-6 col-md-9 align-self-center pt-lg">
    <div
      class="box norm-font all-pad-md"
      style="--bor-col: #f4b41a; --sh-col: #f4b41a;"
      align="center"
    >
      <!-- NOTE Text  -->
      <div class="xlg-txt inline" align="center">
        World's coolest software developer
      </div>
      <div id="masked" style="--col: #143D59"></div>
      <div class="sm-txt" align="center">
        (Not a scientific fact)
      </div>



      <div class="all-pad-md"></div>

      <div class="row justify-content-center pr-md" *ngFor="let btn of btns">
        <div class="col-sm-6 col-xs-8">
          <a routerLink="{{ btn.link }}">
            <app-button
              innerHtml="{{ btn.text }}"
              buttonClass="button min-width"
              l1BgCol="#f6f6f6"
              l1BorCol="#143D59"
              l1TxtCol="#143D59"
              l2BgCol="#143D59"
              l2TxtCol="#f4b41a"
              l3BgCol="#f4b41a"
              l3BorCol="#f4b41a"
              spacing="7.5px"
            ></app-button>
          </a>
          <div class="all-pad-md"></div>
        </div>
      </div>
      <div class="layer-one yellow-bg"></div>
    </div>
  </div>
</div>
<!-- !SECTION Box -->
