<!-- SECTION Box -->
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-9 pt pad-right align-self-center">
    <div class="norm-font all-pad buttercup-border buttercup-shadow">
      <!-- NOTE Text  -->
      <div class="lg-txt no-margin" align="center">
        World's coolest software developer
      </div>
      <div class="small-text darkgrey" align="center">
        (Not a scientific fact)
      </div>

      <div class="empty"></div>

      <!-- NOTE ABOUT BTN -->
      <div class="row justify-content-center pr-3">
        <div class="col-sm-6 col-xs-8">
          <div class="button">
            <div
              class="first-layer text-center"
              style="--bg-col: #f6f6f6; --border-col: #334252;"
            >
              ABOUT
            </div>
            <div class="second-layer text-center elephant-bg">
              <a href="#">ABOUT</a>
            </div>
            <div
              class="third-layer"
              style="--bg-col:#f4b41a; --border-col: #f4b41a;"
            ></div>
          </div>
        </div>
      </div>

      <div class="empty"></div>
      <br />

      <!-- NOTE PROJECT BTN -->
      <div class="row justify-content-center pr-3">
        <div class="col-6">
          <div class="coloured-button button">
            <div class="button-content white-bg teal-border">
              <p class="btn-txt teal" align="center">PROJECTS</p>
            </div>
            <a href="src/html/projects.html" class="button-layer-one teal-bg">
              <p class="btn-txt yellow">PROJECTS</p>
            </a>
            <div class="button-layer-two yellow-border"></div>
          </div>
        </div>
      </div>
      <div class="empty"></div>

      <div class="layer-one yellow-bg"></div>
    </div>
  </div>
</div>
<!-- !SECTION Box -->
