/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "styles/variables.scss";


// SECTION Font
$p-colour: $oxford-blue;

* {
  color: $p-colour;
  --main-bg-color: coral;
}

.xlg-txt {
  font-size: x-large;
}

.lg-txt {
  font-size: large;
}

.norm-font {
  font-family: $norm-font;
}

.bold-font {
}
// !SECTION Font

// SECTION Components
.box {
  position: relative;
}


// SECTION Components

// SECTION Boundings

.white-bg {
  background-color: $white;
}
// SECTION Home Page
.buttercup-border {
  border: 2px solid $buttercup;
}

.buttercup-bg {
  background-color: $buttercup;
}

.buttercup-shadow {
  box-shadow: 10px 10px $buttercup;
}

.elephant-border {
  border: 2px solid $elephant;
}

.elephant-bg {
  background-color: $elephant;
}
// !SECTION Home Page
// !SECTION

// SECTION Spacing
.no-margin {
  margin: 0;
}

.pt {
  padding-top: $spacing-lg;
}

.all-pad {
  padding: $spacing;
}

.all-pad-sm {
  padding: $spacing-sm;
}
// !SECTION spacing
