/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "styles/variables.scss";


// SECTION Font
$p-colour: $oxford-blue;

* {
  color: $p-colour;
}

.xlg-txt {
  font-size: x-large;
}

.lg-txt {
  font-size: large;
}

.sm-txt {
  font-size: small;
}

.norm-font {
  font-family: $norm-font;
}
// !SECTION Font

// SECTION Components
.box {
  position: relative;
  border: $border-width solid var(--bor-col);
  box-shadow: $spacing $spacing var(--sh-col);
}

// SECTION Display
.inline {
  display: inline-block;
}
// SECTION

// SECTION Boundings

.white-bg {
  background-color: $white;
}
// SECTION Home Page
.buttercup-border {
  border: 2px solid $buttercup;
}

.buttercup-bg {
  background-color: $buttercup;
}

.buttercup-shadow {
  box-shadow: 10px 10px $buttercup;
}

.elephant-border {
  border: 2px solid $elephant;
}

.elephant-bg {
  background-color: $elephant;
}
// !SECTION Home Page
// !SECTION

// SECTION Spacing
.no-margin {
  margin: 0;
}

.pt-lg {
  padding-top: $spacing-lg;
}

.pt-md {
  padding-top: $spacing-md;
}

.pt {
  padding-top: $spacing;
}

.pt-xs {
  padding-top: $spacing-xs;
}

.pr-md {
  padding-right: $spacing-md;
}

.pr {
  padding-right: $spacing;
}

.pl {
  padding-left: $spacing;
}

.pl-md {
  padding-left: $spacing-md;
}

.pb-lg {
  padding-bottom: $spacing-lg;
}

.all-pad {
  padding: $spacing;
}

.all-pad-sm {
  padding: $spacing-sm;
}

.all-pad-md {
  padding: $spacing-md;
}


// !SECTION spacing


// SECTION Icon
.fa, .fab {
  font-size: 24px;
}

.l1, .l2 {
  .fa, .fab {
    color: var(--txt-col);
  }
}
// !SECTION Icon