<div class="row justify-content-center">
  <div *ngFor="let icon of icons">
    <a href="{{ icon.link }}">
      <app-button
        innerHtml="<i class='{{ icon.icon }}'></i>"
        buttonClass="button inline"
        l1BgCol="#E9E9E9"
        l1BorCol="{{primaryColour}}"
        l1TxtCol="{{primaryColour}}"
        l2BgCol="{{primaryColour}}"
        l2TxtCol="{{secondaryColour}}"
        l3BgCol="{{secondaryColour}}"
        l3BorCol="{{secondaryColour}}"
        spacing="5px"
      ></app-button>
    </a>
    <div class="all-pad-md inline"></div>
  </div>
</div>
<div class="pb-lg"></div>

